import { Injectable } from '@nestjs/common';
import { UserService } from '../../user/services/user.service';
import { CoreCredentialsEntity } from '../entities/core.credentials.entity';
import { Request } from 'express';

@Injectable()
export class AuthService {
  constructor(private userService: UserService) {}

  async findByUsername(req: Request, username: string): Promise<CoreCredentialsEntity> {
    return await this.userService.findByUsername(username);
  }

  async findByApiKey(req: Request, apiKey: string): Promise<CoreCredentialsEntity> {
    return await this.userService.findByApiKey(apiKey);
  }
}
